.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75vw;
  background-color: #fcf8f8e3;
  z-index: 10;
  box-shadow: 5px 0 5px 5px rgba(10, 10, 10, .3);

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: var(--light-color);
    padding: 2rem;
    
    &:not(:last-child) {
      border-bottom: 1px solid #404040;
    }

    a, a:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--secondary-color);
    }
  }
} 