.home {
  padding: 2rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    li {
      font-size: 3.2rem;
      a, a:visited {
        text-decoration: none;
        color: var(--primary-color);
      }

      a:hover {
        color: var(--primary-color-darker)
      }
    }
  }
}