.sites {
  .loading {
    font-size: 2rem;
    background-color: var(--light-color);
  }

  .list {
    margin: 0;
    padding: 0;
    .site {
      border: 1px solid var(--light-color);
      display: flex;
      align-items: center;
      padding: 1rem;

      &__image {
        flex: 0 1 20%;
        .thumbnail {
          border-radius: 50%;
          width: 4.5rem;
          height: 4.5rem;
          // text-align: center;
          // position: absolute;
          // margin: auto;
          // top: 50%;
          // right: 50%;
          // transform:  translate(0, -50%);
        }
      }

      &__info {
        flex: 0 1 75%;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
      }

      &__link {
        flex: 0 1 5%;
      }
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 6.5rem;
    padding: 1rem 1.5rem;
    background-color: rgba(125, 125, 125, .95);

    .top-bar__search {
      font-size: 2rem;
    }
  }
  
}