:root {
  --primary-color: #2a77e4;
  --secondary-color: #e4972a;

  --primary-color-darker: #194583;
  --secondary-color-darker: #9b661b;
  --light-color: #e7e7e7;

  --dark-gray-color: #404040;
  --gray-color: #808080;

  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
